#Header {
 background: linear-gradient(rgb(0, 0, 0),rgb(141, 139, 139));


}
#Header img{
  height: 50px;
}
 #Header.Navbar {
  background-color: #6b6bf0;
  
}
#Header .custom-navbar .nav-link svg {
  color: rgb(254, 254, 255) !important;
}


#Navbar .nav-link {
  margin-right: 10px; 
}

#slider{
  width: 100%;
  height:auto;
}
#Footer {
  background: linear-gradient(rgb(22, 22, 22),rgb(9,15,34));
}
#Footer img{
  width: 100%;
}



#login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #f8f9fa; 
}

.card {
  border-radius: 10px;
  max-width: 450px; 
}

.carousel-item {
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.carousel-item.active {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


@tailwind base;
@tailwind components;

.btn-primary {
  @apply bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700;
}

@tailwind utilities;




